@import url(https://fonts.googleapis.com/css2?family=Madimi+One&display=swap);
body{
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr 30px;
    gap: 0.5rem;
    background: radial-gradient(circle, rgb(240, 202, 156) 0%,rgba(240, 202, 156, 0.816) 70%, rgb(236, 225, 211) 100%);
    font-family: "Madimi One", sans-serif;
    margin-left: 1rem;
}
header{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 2rem;
    font-weight: bold;
    
}

button{
    border-radius: 10px;
    background-color: rgb(246, 231, 202);
    height: 2rem;
    font-family: "Madimi One", sans-serif;
}
button:hover{
    background-color: rgba(215, 194, 151, 0.807);
    background: linear-gradient(rgb(246, 211, 142),rgb(255, 233, 189), rgb(246, 230, 197));
    box-shadow: 10px 5px 5px rgb(92, 92, 92);;
}

select{
    font-family: "Madimi One", sans-serif;
    width: 4.5rem;
    padding: 5px;
    font-size: 14px;            
    border-radius: 10px;
    background-color: rgb(246, 231, 202);
    
}
select:hover{
    background-color: rgba(215, 194, 151, 0.914);
    box-shadow: 10px 5px 5px rgb(92, 92, 92);;
}

header img{
    margin-top: 1rem;
    width: 100px;
    height: auto;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 250; 
}

.hero-container{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    gap: 3rem;
}

.global-btns{
    margin-bottom: 2rem;
    display: flex;
    gap: 17px;
}
.global-btns button{
    width: 10rem;
    height: 40px;
}

.main-project-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    border-left: 2px solid black;
    padding-right: 20px;
    
}

.project-header{
    grid-column: 1;
    grid-row: 1;
}
.project-container{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 7px;
}
.project-btn-container{
    display: flex;
    gap: 1rem;
    place-self: center;
    grid-column: 1;
    grid-row: 1;
}
.project-btn-container button{
    place-self: center;
    grid-column: 1;
    grid-row: 1;
    width: 10rem;
}


.see-more-btn{
    width: fit-content;
    place-self: center;
    border: none;
    background:none ;
}
.see-more-btn:hover{
    border: none;
    background:rgba(246, 231, 202, 0.825) ;
    box-shadow: none;
}

.to-do{
    padding-left: 1rem;
    display: flex;
}
.to-do-content{
    width: 20rem;
    height: 3rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-radius: 5px 20px 5px;
    box-shadow: 10px 5px 5px rgb(92, 92, 92);;
}
.checked{
    opacity: 0.4;
}

.priority-1{
    background-color: rgba(241, 126, 126, 0.737);
}
.priority-0{
    background-color: rgba(79, 79, 216, 0.728);
}
.priority--1{
    background-color: rgba(90, 215, 113, 0.748);
}

.priority-1:hover{
    background-color: rgb(241, 126, 126);
}
.priority-0:hover{
    background-color: rgb(79, 79, 216);
}
.priority--1:hover{
    background-color: rgb(90, 215, 113);
}


.to-do .expand-btn{
    border-radius: 30px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn-container{
    visibility: hidden;
}
.to-do:hover .btn-container{
    visibility: inherit;
}

.expand{
    width: 20rem;
    height: 7rem;
    padding-top: 6px;
    padding-left: 0;

    display: grid;
    grid-template-rows: 40% auto;
}

.expand  .title,.due-date,.modify-btn,.expand-btn{
    grid-row: 1;
    place-self: center;
}
.to-do-desc{
    grid-row: 2;
    grid-column: 1/5;
}

.expand ~ .btn-container{
    display: flex;
    flex-direction: column;
    align-self: center;
}